<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
 http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
 version="2.4">

    <servlet>
        <servlet-name>FirstServlet</servlet-name>
        <servlet-class>FirstServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/firstservlet</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>Lab2Example</servlet-name>
    <servlet-class>Asn2Sample</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Lab2Example</servlet-name>
        <url-pattern>/Asn2Sample</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SessionInfo</servlet-name>
        <servlet-class>SessionInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionInfo</servlet-name>
        <url-pattern>/SessionInfo</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>URLSession</servlet-name>
    <servlet-class>URLSession</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>URLSession</servlet-name>
        <url-pattern>/URLSession</url-pattern>
    </servlet-mapping>
	
    <servlet>
        <servlet-name>UploadImage</servlet-name>
        <servlet-class>UploadImage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadImage</servlet-name>
        <url-pattern>/UploadImage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UploadInfo</servlet-name>
        <servlet-class>UploadInfo</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>UploadInfo</servlet-name>
       <url-pattern>/UploadInfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MUploadImage</servlet-name>
        <servlet-class>MUploadImage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MUploadImage</servlet-name>
        <url-pattern>/MUploadImage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MUploadInfo</servlet-name>
        <servlet-class>MUploadInfo</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>MUploadInfo</servlet-name>
       <url-pattern>/MUploadInfo</url-pattern>
    </servlet-mapping>
</web-app>
